<mat-sidenav-container class="nav-container">
  <mat-sidenav
    #sidenav
    class="sidenav"
    mode="side"
    closed
    fixedInViewport="true"
    fixedTopGap="100"
  >
    <mat-list class="list">
      <a mat-list-item routerLink="/">
        <div class="item-list">
          <i class="material-icons">home</i>
          Home
        </div>
      </a>
      <a mat-list-item href="">
        <div class="item-list">
          <i class="material-icons">theaters</i>
          List Films
        </div>
      </a>
      <a mat-list-item href="">
        <div class="item-list">
          <i class="material-icons">import_contacts</i>
          About the author
        </div>
      </a>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <button mat-icon-button (click)="sidenav.toggle()" class="mat-nav-button">
      <i class="material-icons">menu</i>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
