<mat-card class="about mat-elevation-z2">
  <mat-card-content>

    <div class="profile">
      <a href="https://github.com/Augusto9237">
        <img src="https://github.com/Augusto9237.png" alt="profile" />

        <div class="title">
          <h2>Augusto Sousa</h2>
          <p>Frontend developer</p>
        </div>
      </a>
    </div>

    <h1>Tudo certo jovem!</h1>

    <div class="mat-card-content">
      <span>Sobre Mim</span>
      <p>Programador e desenvolvedor Front-end, com graduação em Sistemas de informação pela faculdade Mauricio de Nassau (UNINASSAU).</p>
       <a href="https://github.com/Augusto9237">My GitHub</a>
    </div>
  </mat-card-content>
</mat-card>
